/* ==UserStyle==
@name           Wide Whatsapp
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Make Whatsapp Web use the whole screen
@updateURL      https://raw.githubusercontent.com/billy4479/userstyles/master/styles/wide-whatsapp.user.css
@author         billy4479
==/UserStyle== */

@-moz-document url-prefix("https://web.whatsapp.com/")
{
  .two {
    position: unset !important;
    margin: unset !important;
    max-width: unset !important;
    width: 100% !important;
    height: 100% !important;
  }
}
